
body {
  padding-top: 0;
  overflow-x: hidden;
}

body .container {
  max-width: 1088px;
  margin-right: auto;
  margin-left: auto;
}


/* Text */

a:hover { 
  color: #ed1c24; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lusitana";
}

h1 {
  font-size: 4em;
}

/* Overlays */

.featured-image-wrapper h1 {
  color: #fff;
  font-size: 80px;
  text-shadow: 2px 2px 3px #000000;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  text-align: center;
  display: none;
}

.featured-image-wrapper .scroll-injunction {
  color: #fff;
  text-shadow: 2px 2px 3px #000000;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
}

.featured-image-wrapper .scroll-injunction i {
  margin: 0 5px;
}


/* Navbar */

.circle {
  font-size: 11px;
  color: #000;
  background-color: #FFF;
  border-radius: 8px;
  height: 17px;
  width: 17px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
}

.navbar {
  height: 37px;
  min-height: 37px;
  background-color: rgba(20, 20, 20, 0.92);
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a { 
  color: #ddd; 
}

/*.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
  background-color: #4f4c4d;
}*/

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:hover>span,
.navbar-default .navbar-nav>li>a.active>span { 
  color: #fff; 
}

.navbar a:hover .circle, 
.navbar a.active .circle {
  background-color: #b33;
}


/* Footer */

#footer {
  background-color: rgba(20, 20, 20, .92);
  position: relative;
  bottom: 0;
  height: 37px;
}

#footer p {
  margin-bottom: 0;
}

#footer #next {
  position: absolute;
  right: 10%;
}

#footer #prev {
  position: absolute;
  left: 10%;
}


/* Images */

img {
  max-height: auto;
  max-width: 100%;
}

#black-hole {
  background-color: #000;
  border-radius: 220px;
  width: 440px;
  height: 440px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

/* Table */
td {
    width: 100px;
    text-align: center;
}
tr:not(:first-of-type) {
    height: 50px;
}
.circle_lots {
    padding: 16px;
    width: 1px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}

.circle_some {
    padding: 12px;
    width: 1px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}

.circle_little {
    padding: 8px;
    width: 1px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}

#gray {
    background: #989898;
}

#blue {
    background: #b33;
}


/* Content */

.content { margin-top: 30px; }
.content img { max-width: 100%; }


/* Responsivity */

@media (max-width: 1000px) {
  .navbar .social-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav>li>a, .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .navbar .social-menu {
    margin: 30px 20px 30px 20px;
    display: none; 
  }
  h1 {
    font-size: 30px;
  }
  .bubble {
    max-width: 50%;
    max-height: 100%;
  }
}

@media (max-width: 482px) {
  /* Nothing */
}

