
/* Body */


body {
  background-color: #FFF;
}


/* Text */

a {}
a:hover { color: #ed1c24; }
a.fa:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lusitana";
}

h1 {
  font-size: 4em;
}

.title {
  text-align: center;
}


/* Sidebars */

#left, #right {
  z-index: 1;
  margin-top: 21%;
  margin-bottom: 21%;
  position: fixed;
}

#left {left: 0;}
#right {right: 0;}

.boxed {
  text-align: center;
  background-color: #CCC;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.boxed:hover {
  opacity: 0.7;
}

.fa {
  color: #333;
  margin: auto;
  margin-top: 7px;
}


/* Navbar */

.navbar {
 	background-color: #231f20;
}

.navbar .sections>li>a:hover {
  background-color: #4f4c4d;
}

.navbar a { color: #DDD !important; }
.navbar a:hover { color: #AAA !important; }
.navbar-nav>.active>a { background-color: #4f4c4d !important; }


/* Images */


.featured-image {
  max-height: auto;
  max-width: 100%;
}


/* Responsivity */

@media (max-width: 1000px) {
  .navbar .social-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar .social-menu {
    margin: 30px 20px 30px 20px;
    display: none; 
  }

  .fa
}

@media (max-width: 482px) {
  .main {
  	padding: 0px;
  }

  .content, .headline {
  	margin: 0px;
  }

  #left, #right {
    display: inline-block;
    z-index: 0;
  	margin-top: 10%;
    margin-bottom: 0;
    position: relative;
  }

  #left {
  }

  #right {
    left: 75%;
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
* { border: 1px solid; }
*/
