
body {
  padding-top: 0;
  overflow-x: hidden;
}

body .container {
  max-width: 1088px;
  margin-right: auto;
  margin-left: auto;
}


/* Text */

a:hover { 
  color: #ed1c24; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lusitana";
}

h1 {
  font-size: 4em;
}

.fact {
  margin: 25% 0;
  text-align: center;
}

.explain {
  font-family: Arial;
  font-size: 15px;
  margin: 20px 50px;
}

.explain p {
  padding-top: 6px;
  padding-bottom: 6px;
}

#project-about {
  background-color: black;
  text-align: center;
  color: white;
}


/* Overlays */

.featured-image-wrapper h1 {
  color: #fff;
  font-size: 80px;
  text-shadow: 2px 2px 3px #000000;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  text-align: center;
  display: none;
}

.featured-image-wrapper .scroll-injunction {
  color: #fff;
  text-shadow: 2px 2px 3px #000000;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
}

.featured-image-wrapper .scroll-injunction i {
  margin: 0 5px;
}

/*#begin {
  z-index: 1;
  position: absolute;
  bottom: 15%;
  left: 45%;
}*/


/* Navbar */

.circle {
  font-size: 11px;
  color: #000;
  background-color: #FFF;
  border-radius: 8px;
  height: 17px;
  width: 17px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
}

.navbar {
  height: 37px;
  min-height: 37px;
  background-color: rgba(20, 20, 20, 0.92);
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a { 
  color: #ddd; 
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
  background-color: #4f4c4d;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:hover>span,
.navbar-default .navbar-nav>li>a.active>span { 
  color: #fff; 
}

.navbar a:hover .circle, 
.navbar a.active .circle {
  background-color: #b33;
}


/* Footer */

/* -- @TODO -- */


/* Images */

img {
  max-height: auto;
  max-width: 100%;
}

.chart {
  float: right;
  margin: 0 0 20px 20px;
}


/* Content */

.content { margin-top: 30px; }
.content img { max-width: 100%; }


/* Responsivity */

@media (max-width: 1000px) {
  .navbar .social-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav>li>a, .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .navbar .social-menu {
    margin: 30px 20px 30px 20px;
    display: none; 
  }
  h1 {
    font-size: 30px;
  }
  .bubble {
    max-width: 50%;
    max-height: 100%;
  }
}

@media (max-width: 482px) {
  /* Nothing */
}

