{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="css/simple.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Basic' rel='stylesheet' type='text/css'>
{% endblock css %}


{% block scripts %}
{{ super() }}
<script src="js/imgLiquid-min.js"></script>
<script src="js/holder.js"></script>

<script src="js/jquery-expander/jquery.expander.js"></script>

<script type="text/javascript">

function responsivize() {
  $('.featured-image-wrapper')
    .css({
      height: $(window).height() + 'px',
      width:  $(window).width() + 'px',
    });
}

$(document).ready(function() {

  $('.featured-image-wrapper').imgLiquid();
  responsivize();
  $(window).on('resize', responsivize);

  setTimeout(function() {
    $('div.featured-image-wrapper h1').fadeIn(1000); 
  }, 300);
  
  $('div.expandable').expander();
});

</script>
{% endblock scripts %}
