{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="css/simple.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,400italic' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="js/imgLiquid-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('.featured-image-wrapper')
    .css({
      height: $(window).height() + 'px',
      width: $(window).width() + 'px',
    })
    .imgLiquid()
  ;
});
</script>
{% endblock scripts %}
