{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="css/simple.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,400italic' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block content %} 

  <div id="main" class="container">
	<header class="row">
	  <div class="headline">
	    <h1>{{ current_stage.title.value|markdown }}</h1>
	  </div>
	  <div class="explanation">
	    {{current_stage.intro.value|markdown }}
	  </div>
	</header>
	<div class="content row">
	  <div class="col-sm-5">
	    <h2>Data</h2>
	      
	    <h4>Availability</h4>
		{{ current_stage.data_availability.value|markdown }}
		  
		<h4>Format</h4>
		{{ current_stage.data_format.value|markdown }}
		  
		<h4>Summary</h4>
		{{ current_stage.data_summary.value|markdown }}
		  
		<hr>
		  
		<h2>Limitations</h2>
		{{ current_stage.data_limits.value|markdown }}
	  </div>
	  <div>
	    <img src="js/holder.js/500x400">
	  </div>
    </div>
  </div>

{% endblock content %}

{% block scripts %}  
  {{ super() }}
  <script type="text/javascript" src="js/holder.js"></script>
{% endblock scripts %}
