{# 
	Note that you are expected to set the value of the current_stage 
	variable just before extending this template. See "/call.html" 
	for an example.
#}

{% block content %} 

  <div id="main" class="container">
	
	<div class="header row">
	  <div class="headline">
	    <h1>{{ current_stage.title.value|markdown }}</h1>
	  </div>
	</div>
	
	<div class="content row">
		
	  <div class="stay-right col-sm-7">
		  
		<div class="image">
		  {% block pic1 %}
	      <img class="resize" src="js/holder.js/600x400">
	      {% endblock pic1 %}
		  
		</div>

		<div class="image">
	      <img class="resize" src="js/holder.js/400x300">
		</div>

      </div>
	  
	  <div class="col-sm-5">

	  {% block intro %}

		<div class="intro">
		  <h2>Basics</h2> 
		  {{ current_stage.intro.value|markdown }}
		</div>
		  
	  {% endblock intro %}

	  {% block data %}

	    <div class="data">

		  <h2>Data</h2>

	  {% block available %}

		  <h4>Availability</h4>
		  {{ current_stage.data_availability.value|markdown }}

	  {% endblock available %}

	  {% block format %}

			<h4>Format</h4>
			{{ current_stage.data_format.value|markdown }}

	  {% endblock format %}

	  {% block summary %}

			<h4>Summary</h4>
			{{ current_stage.data_summary.value|markdown }}

	  {% endblock summary %}

	  {% block limits %}

		    <h4>Limitations</h4>
			{{ current_stage.data_limits.value|markdown }}

	  {% endblock limits %}

		  </div>

	  {% endblock data %}

	    </div>

	  {% block conclusion %}

		<div class="ending row">

		  <hr>

		  <div class="conclude">

		    <h2>Conclusion</h2>
		    {{ current_stage.conclude.value }}

		  </div>

	    </div>

	  {% endblock conclusion %}

	  </div>

  </div>

{% endblock content %}
