{% extends "_cpd.html" %}
{% set arrest = 4 %}

{% block content %}
<!-- <div class="side">
  <a id="prev" href="/incidents.html"><i class="fa fa-2x fa-chevron-left"></i></a>
  <a id="next" href="/prosecute.html"><i class="fa fa-2x fa-chevron-right"></i></a>
</div> -->
<div id="arrest-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[arrest].featured_image }}>
  <h1>{{ stages[arrest].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[arrest].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-6 col-md-offset-1">
    {{ render_file("content/arrest.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/arrest_rail.md")|markdown }}
  </div>
</div>
<div id='footer'>
    <div class='container'>
        <a id="prev" href="/incidents.html"><i class="fa fa-1x fa-chevron-left"></i>&nbsp;&nbsp;Previous</a>
        <a id="next" href="/prosecute.html">Next Stage: Prosecute&nbsp;&nbsp;<i class="fa fa-1x fa-chevron-right"></i></a>
    </div>
</div>
{% endblock content %}
