{% extends "_cpd.html" %}
{% set arrest = 4 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/incidents.html">Previous Stage</a>
  <a id="next" class="btn btn-primary" href="/prosecute.html">Next Stage</a>
</div>

{% block content %}
<div id="arrest-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[arrest].featured_image }}>
  <h1>{{ stages[arrest].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[arrest].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/arrest.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/arrest_rail.md")|markdown }}
  </div>
</div>
{% endblock content %}
