{% extends "_cpd.html" %}

{% block content %}
<div id="call-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ reporting.featured_image.value }}>
  <h1>{{ reporting.headline.value|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ reporting.para1.value|markdown }}
    {{ reporting.para2.value|markdown }}
    {{ reporting.para3.value|markdown }}
    {{ reporting.para4.value|markdown }}
    {{ reporting.para5.value|markdown }}
  </div>
  <div class="col-md-4">
    {{ reporting.sidebar_para1.value|markdown }}
    {{ reporting.sidebar_para2.value|markdown }}
  </div>
</div>
{% endblock content %}

