{% extends "_cpd.html" %}
{% set callforservice = 2 %}

{% block content %}
<!-- <div class="side">
  <a id="prev" href="/victimization.html"><i class="fa fa-2x fa-chevron-left"></i></a>
  <a id="next" href="/incidents.html"><i class="fa fa-2x fa-chevron-right"></i></a>
</div> -->
<div id="callforservice-landing" class="featured-image-wrapper">
  <img class="featured-image" src = {{ stages[callforservice].featured_image }}>
  <h1>{{ stages[callforservice].headline|markdown }}</h1>
  <div id="callforservice-injunction" class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="callforservice-injunction" class="photo-caption">
      {{ stages[callforservice].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-6 col-md-offset-1">
    {{ render_file("content/callforservice.md")|markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/callforservice_rail.md")|markdown }}
    <br><br>
  </div>
</div>
<div id='footer'>
    <div class='container'>
        <a id="prev" href="/victimization.html"><i class="fa fa-1x fa-chevron-left"></i>&nbsp;&nbsp;Previous</a>
        <a id="next" href="/incidents.html">Next Stage: Incidents&nbsp;&nbsp;<i class="fa fa-1x fa-chevron-right"></i></a>
    </div>
</div>
{% endblock content %}
