{% extends "_base.html" %}

{% block preview %}{% endblock preview %}
{% block content %}
	<div id="main" class="container">
	  <h1>State's Attourney's Office</h1>
	  <div class="col-md-6">
		<p>Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. </p>
		<p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. </p>
		<p>Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum.</p>
	  </div>
	</div>
{% endblock content %}

{% block scripts %}  
  {{ super() }}
  <script type="text/javascript" src="js/holder.js"></script>
{% endblock scripts %}
