{% extends "_base.html" %}

{% block preview %}{% endblock preview %}
{% block content %}
	<div id="main" class="container">
	  <h1>Courts</h1>
	  <div class="col-md-6">
		<p>Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum.</p>
		<p>Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>
		<p>Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. </p>
	  </div>
	</div>
{% endblock content %}

{% block scripts %}  
  {{ super() }}
  <script type="text/javascript" src="js/holder.js"></script>
{% endblock scripts %}
