{% extends "_cpd.html" %}
{% set court = 5 %}

{% block content %}
<div id="court-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[court].featured_image }}>
  <h1>{{ stages[court].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/court.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ chart('court') }}

    {{ read_file("content/court_rail.md") | markdown }}

  </div>
</div>
{% endblock content %}
