{% extends "_cpd.html" %}
{% set court = 7 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/jail.html">Previous Stage</a>
  <a id="next" class="btn btn-primary" href="/prison.html">Next Stage</a>
</div>

{% block content %}
<div id="court-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[court].featured_image }}>
  <h1>{{ stages[court].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[court].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ render_file("content/court.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/court_rail.md") | markdown }}
  </div>
</div>
{% endblock content %}
