{% extends "_cpd.html" %}
{% set court = 7 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/jail.html">Previous Stage</a>
  <a id="next" class="btn btn-primary" href="/prison.html">Next Stage</a>
</div>

{% block content %}
<div id="court-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[court].featured_image }}>
  <h1>{{ stages[court].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[court].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/court.md") | markdown }}
  </div>
  <div class="col-md-4">
      <h4 id="table-title">Data Availability<h4>
      <table>
             <tr>
                <td>
                </td>
                <td>
                    <p>Open</p>
                </td>
                <td>
                    <p>FOIA</p>
                </td>
                <td>
                    <p>Unavailable</p>
                </td>    
            </tr>
            <tr>
                <td>
                    <p>Call For Service</p>
                </td>
                <td>
                    <div class="circle_some" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_lots" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_little" id="red">
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <p>Incidents/Arrest</p>
                </td>
                <td>
                    <div class="circle_lots" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_some" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_little" id="red">
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <p>Prosecute</p>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <div class="circle_lots" id="red">
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <p>Jail</p>
                </td>
                <td>
                    <div class="circle_little" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_lots" id="red">
                    </div>
                </td>
                <td>
                    <div class="circle_little" id="red">
                    </div>
                </td>
            </tr>
                <tr bgcolor="F0F0F0">
                <td>
                    <p>Court</p>
                </td>
                <td>
                    <div class="circle_little" id="red">
                    </div>
                </td>
                <td>
                </td>
                <td>
                    <div class="circle_lots" id="red">
                    </div>
                </td>
            </tr>
            </tr>
                  <tr>
                  <td>
                      <p>Prison</p>
                  </td>
                  <td>
                      <div class="circle_little" id="red">
                      </div>
                  </td>
                  <td>
                  </td>
                  <td>
                      <div class="circle_lots" id="red">
                      </div>
                  </td>
              </tr>
        </table>
    <hr>
    {{ read_file("content/court_rail.md") | markdown }}
  </div>
</div>
{% endblock content %}
