{% extends "_cpd.html" %}
{% set current_stage = 0 %}

{% block content %}
<div id="project" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[current_stage].featured_image }}>
  <div class="title-wrapper">
    <h1>{{ stages[current_stage].title|markdown }}</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div id="about">
    <div id="brief">
      <h3> Exploring Transparency in Chicago's Criminal Justice System </h3>
    </div>
    <div id="explain">
      {{ lipsum(n=3, html=True, min=40, max=60) }}
    </div>

  </div>
</div>
{% endblock content %}
