{% extends "_cpd.html" %}

{% block content %}
  <div id="all">
    <div id="left" class="col-sm-1">
      <div class="boxed">
        <i class="fa fa-chevron-left fa-2x" id="previous"></i>
      </div>
    </div>
    <div id="main" class="col-sm-10"></div>
    <div id="right" class="col-sm-1">
      <div class="boxed">
        <i class="fa fa-chevron-right fa-2x" id="next"></i>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block scripts %}  
  {{ super() }}
  <script type="text/javascript" src="js/route.js"></script>
{% endblock scripts %}
