{% extends "_cpd.html" %}

{% block content %}
<div id="investigate-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ investigate.featured_image.value }}>
  <h1>{{ investigate.headline.value|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/investigate.md") | markdown }}
  </div>
  <div class="col-md-4">
    <table>
         <tr>
            <td>
            </td>
            <td>
                <p>Open</p>
            </td>
            <td>
                <p>FOIA</p>
            </td>
            <td>
                <p>Unavailable</p>
            </td>    
        </tr>
        <tr>
            <td>
                <p>Report</p>
            </td>
            <td>
                <div class="circle_some" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_lots" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_little" id="gray">
                </div>
            </td>
        </tr>
            <tr bgcolor="F0F0F0">
            <td>
                <p>Investigate</p>
            </td>
            <td>
                <div class="circle_lots" id="blue">
                </div>
            </td>
            <td>
                <div class="circle_some" id="blue">
                </div>
            </td>
            <td>
                <div class="circle_little" id="blue">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Prosecute</p>
            </td>
            <td>
            </td>
            <td>
                <div class="circle_little" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_lots" id="gray">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Jail</p>
            </td>
            <td>
                <div class="circle_little" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_lots" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_little" id="gray">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Court</p>
            </td>
            <td>
                <div class="circle_little" id="gray">
                </div>
            </td>
            <td>
            </td>
            <td>
                <div class="circle_lots" id="gray">
                </div>
            </td>
        </tr>
    </table>
    <br><hr><br>
    {{ investigate.sidebar_para1.value|markdown }}
    {{ investigate.sidebar_para2.value|markdown }}
    {{ investigate.sidebar_para3.value|markdown }}
  </div>
</div>
{% endblock content %}
