{% extends "_cpd.html" %}

{% block content %}
<div id="jail-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ jail.featured_image.value }}>
  <h1>{{ jail.headline.value|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ jail.para1.value|markdown }}
    {{ jail.para2.value|markdown }}
    {{ jail.para3.value|markdown }}
    {{ jail.para4.value|markdown }}
    {{ jail.para5.value|markdown }}
  </div>
  <div class="col-md-4">
    {{ jail.sidebar_para1.value|markdown }}
    {{ jail.sidebar_para2.value|markdown }}
    <table>
         <tr>
            <td>
            </td>
            <td>
                <p>Open</p>
            </td>
            <td>
                <p>FOIA</p>
            </td>
            <td>
                <p>Unavailable</p>
            </td>    
        </tr>
        <tr>
            <td>
                <p>Report</p>
            </td>
            <td>
                <div class="circle_medium" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_big" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_small" id="gray">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Investigate</p>
            </td>
            <td>
                <div class="circle_big" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_medium" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_small" id="gray">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Prosecute</p>
            </td>
            <td>
            </td>
            <td>
                <div class="circle_small" id="gray">
                </div>
            </td>
            <td>
                <div class="circle_big" id="gray">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Jail</p>
            </td>
            <td>
                <div class="circle_small" id="blue">
                </div>
            </td>
            <td>
                <div class="circle_big" id="blue">
                </div>
            </td>
            <td>
                <div class="circle_small" id="blue">
                </div>
            </td>
        </tr>
            <tr>
            <td>
                <p>Court</p>
            </td>
            <td>
                <div class="circle_small" id="gray">
                </div>
            </td>
            <td>
            </td>
            <td>
                <div class="circle_big" id="gray">
                </div>
            </td>
        </tr>
    </table>
  </div>
</div>
{% endblock content %}