{% extends "_cpd.html" %}

{% block content %}
<div id="jail-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ jail.featured_image.value }}>
  <h1>{{ jail.headline.value|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ jail.para1.value|markdown }}
    {{ jail.para2.value|markdown }}
    {{ jail.para3.value|markdown }}
    {{ jail.para4.value|markdown }}
    {{ jail.para5.value|markdown }}
    {{ jail.para6.value|markdown }}

  </div>
  <div class="col-md-4">
    {{ jail.sidebar_para1.value|markdown }}
    {{ jail.sidebar_para2.value|markdown }}
    {{ jail.sidebar_para3.value|markdown }}
    {{ jail.sidebar_para4.value|markdown }}
  </div>
</div>
{% endblock content %}