

<!-- {# Switching table for generating data inventory sections.
     Call "{{ inventory('mystage') }}" in a markdown file, 
     where 'mystage is the stage name defined here. 

     Define here, for each stage, the spreadsheet to pull from,
     the section title to appear with the fields, the type of 
     field to include in that section, and whether or not you
     want an expandable. '  

     This whole macro should be drastically changed to be more 
     DRY. #} !-->

{% macro inventory(stage) -%}

{% if stage == 'Call for Service' %}
{{ expandable('callforservice', callforservice_fields, 'FOIA Data', 'foiable', 'true') }}
{{ expandable('callforservice', callforservice_fields, 'Unavailable Data', 'unavailable', 'true') }}
{% endif %}

{% if stage == 'Incidents' %}
{{ expandable('incidents', incidents_fields, 'Open Data', 'available', 'true') }}
{{ expandable('incidents', incidents_fields, 'FOIA Data', 'foiable', 'true') }}
{{ expandable('incidents', incidents_fields, 'Unavailable Data', 'unavailable', 'false') }}
{% endif %}

{% if stage == 'Arrest' %}
{{ expandable('arrest', arrest_fields, 'FOIA Data', 'foiable', 'false') }}
{{ expandable('arrest', arrest_fields, 'Unavailable Data', 'unavailable', 'false') }}
{% endif %}

{% if stage == 'Jail' %}
{{ expandable('jail', jail_fields, 'FOIA Data', 'foiable', 'true') }}
{{ expandable('jail', jail_fields, 'Unavailable Data', 'unavailable', 'true') }}
{% endif %}

{% if stage == 'Court' %}
{{ expandable('court', court_fields, 'Unavailable Data', 'unavailable', 'true') }}
{% endif %}

{% if stage == 'Prison' %}
{{ expandable('prison', prison_fields, 'Open Data', 'available', 'true') }}
{% endif %}

{%- endmacro %}


<!-- Lower level mechanism for creating expandable sections. -->

{% macro expandable(stage, spreadsheet, section_name, availability, expand) -%}
<div id="{{stage}}-{{availability}}" 
{% if expand == 'true' %} 
  class="expandable"
{% endif %}
>
<h4>{{ section_name }}</h4>
<ul>
{% for field in spreadsheet %}
{% if field.availability == availability %}
<li>{{ field.name }}</li>
{% endif %}
{% endfor %}
</ul>
</div>
{%- endmacro %}
