{% extends "_cpd.html" %}
{% set current_stage = stages[2] %}

{% block content %}
<div id="police-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ current_stage.featured_image }}>
  <div id="stage2-bubble1" class="bubble">
    <div class="bubble-inner">
      <h1>{{ current_stage.title|markdown }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="slide">
    <div class="">
      <h2>{{ current_stage.fact|markdown }}</h2>
      <h3>{{ current_stage.description|markdown }}</h3>
    </div>
  </div>
  <div class="slide">
    <div class="">
    </div>
  </div>
</div>
{% endblock content %}