{% extends "_cpd.html" %}

{% block content %}
	<div id="main" class="container">
	  <header class="row">
	  	<div class="headline">
	      <h1>{{ police.title|markdown }}</h1>
	    </div>
	    <div class="explanation">
	      {{ police.intro|markdown }}
	    </div>
	  </header>
	  <div class="content row">
	    <div class="col-sm-12">
	      <h2>Data</h2>
	      
	      <h4>Availability</h4>
		  {{ police.data_available|markdown }}
		  
		  <h4>Format</h4>
		  {{ police.data_format|markdown }}
		  
		  <h4>Summary</h4>
		  {{ police.data_summary|markdown }}
		  
		  <hr>
		  
		  <h2>Limitations</h2>
		  {{ police.data_limits|markdown }}
	    </div>
	  </div>
	</div>
{% endblock content %}
