{% extends "_cpd.html" %}
{% set prison = 8 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/court.html">Previous Stage</a>
  <a id="next" class="btn btn-primary" href="/">Back to Landing Page</a>
</div>

{% block content %}
<div id="prison-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[prison].featured_image }}>
  <h1>{{ stages[prison].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      Photo caption goes here
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/prison.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/prison_rail.md") | markdown }}
  </div>
</div>
{% endblock content %}
