{% extends "_cpd.html" %}
{% set prosecute = 5 %}

{% block content %}
<!-- <div class="side">
  <a id="prev" href="/arrest.html"><i class="fa fa-2x fa-chevron-left"></i></a>
  <a id="next" href="/jail.html"><i class="fa fa-2x fa-chevron-right"></i></a>
</div> -->
<div id="prosecute-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[prosecute].featured_image }}>
  <h1>{{ stages[prosecute].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[prosecute].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/prosecute.md")|markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/prosecute_rail.md")|markdown }}
  </div>
</div>
<div id='footer'>
    <div class='container'>
        <a id="prev" href="/arrest.html"><i class="fa fa-1x fa-chevron-left"></i>&nbsp;&nbsp;Previous</a>
        <a id="next" href="/jail.html">Next Stage: Jail&nbsp;&nbsp;<i class="fa fa-1x fa-chevron-right"></i></a>
    </div>
</div>
{% endblock content %}
