{% extends "_cpd.html" %}
{% set prosecute = 5 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/arrest.html">Previous Stage</a>
  <a id="next" class="btn btn-primary" href="/jail.html">Next Stage</a>
</div>

{% block content %}
<div id="prosecute-landing" class="featured-image-wrapper">
  <div id="black-hole-wrapper">
    <div id="black-hole"></div>
  </div>
  <h1>{{ stages[prosecute].headline|markdown }}</h1>
  <div id="prosecute-injunction" class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      Photo caption goes here
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/prosecute.md")|markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/prosecute_rail.md")|markdown }}
  </div>
</div>
{% endblock content %}
