{% extends "_cpd.html" %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/">Back to Landing Page</a>
  <a id="next" class="btn btn-primary" href="/investigation.html">Next Stage</a>
</div>

{% block content %}
<div id="reporting-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ reporting.featured_image.value }}>
  <h1>{{ reporting.headline.value|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ reporting.para1.value|markdown }}
    {{ reporting.para2.value|markdown }}
    {{ reporting.para3.value|markdown }}
    {{ reporting.para4.value|markdown }}
    {{ reporting.para5.value|markdown }}
    {{ reporting.para6.value|markdown }}
    {{ reporting.para7.value|markdown }}
    {{ reporting.para8.value|markdown }}
    {{ reporting.para9.value|markdown }}
    {{ reporting.para10.value|markdown }}
    {{ reporting.para11.value|markdown }}
    {{ reporting.para12.value|markdown }}
  </div>
  <div class="col-md-4">
    {{ reporting.sidebar_para1.value|markdown }}
    {{ reporting.sidebar_para2.value|markdown }}
    {{ reporting.sidebar_para3.value|markdown }}
  </div>
</div>
{% endblock content %}
