{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="css/simple.css">
{% endblock css %}


{% block content %}

  <div id="all">
    <div id="left" class="col-sm-1">
      <div class="boxed">
        <span class="glyphicon glyphicon-chevron-left" id="previous"></span>
      </div>
    </div>
    <div id="main" class="col-sm-10"></div>
    <div id="right" class="col-sm-1">
      <div class="boxed">
        <span class="glyphicon glyphicon-chevron-right" id="next"></span>
      </div>
    </div>
  </div>
  
{% endblock content %}


{% block scripts %}  
  {{ super() }}
  <script type="text/javascript" src="js/holder.js"></script>
  <script type="text/javascript" src="js/switch.js"></script>
{% endblock scripts %}
