{% extends "_cpd.html" %}
{% set victimization = 1 %}

{% block content %}
<!-- <div class="side">
  <a id="prev" href="/"><i class="fa fa-2x fa-chevron-left"></i></a>
  <a id="next" href="/callforservice.html"><i class="fa fa-2x fa-chevron-right"></i></a>
</div> -->
<div id="victimization-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[victimization].featured_image }}>
  <h1>{{ stages[victimization].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      {{ stages[victimization].image_caption|markdown }}
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/victimization.md") | markdown }}
  </div>
  <div class="col-md-4">
    {{ read_file("content/victimization_rail.md")|markdown }}
  </div>
</div>
<div id='footer'>
    <div class='container'>
        <a id="prev" href="/"><i class="fa fa-1x fa-chevron-left"></i>&nbsp;&nbsp;Overview</a>
        <a id="next" href="/callforservice.html">Next Stage: Call for Service&nbsp;&nbsp;<i class="fa fa-1x fa-chevron-right"></i></a>
    </div>
</div>
{% endblock content %}
