{% extends "_cpd.html" %}
{% set victimization = 1 %}

<div class="side">
  <a id="prev" class="btn btn-default" href="/">Back to Landing Page</a>
  <a id="next" class="btn btn-primary" href="/callforservice.html">Next Stage</a>
</div>

{% block content %}
<div id="victimization-landing" class="featured-image-wrapper">
  <img class="featured-image" src={{ stages[victimization].featured_image }}>
  <h1>{{ stages[victimization].headline|markdown }}</h1>
  <div class="scroll-injunction">
    <i class="fa fa-chevron-down"></i>
    Scroll To Read
    <i class="fa fa-chevron-down"></i>
  </div>
  <div id="index-injunction" class="photo-caption">
      Photo caption goes here
  </div>
</div>
<div class="content container">
  <div class="col-md-8">
    {{ read_file("content/victimization.md") | markdown }}
    <hr>
    <table class="victim-table">
         <tr>
            <td>
            </td>
            <td>
                <p>% Reported</p>
            </td>
            <td>
                <p>Police Reports</p>
            </td>
            <td>
                <p>Actually Occurred</p>
            </td>    
        </tr>
        <tr>
            <td>
                <p>Rape/Sexual Assault</p>
            </td>
            <td>
                <p>28%</p>
            </td>
            <td>
        </tr>
        <tr>
            <td>
                <p>Robbery</p>
            </td>
            <td>
                <p>56%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Domestic Violence</p>
            </td>
            <td>
                <p>55%</p>
            </td>
            <td>
                <p>51,174</p>
            </td>
            <td>
                <p>74,202</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Agg. Assaults</p>
            </td>
            <td>
                <p>62%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Simple Assault</p>
            </td>
            <td>
                <p>40%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Burglary</p>
            </td>
            <td>
                <p>55%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Motor Vehicle Theft</p>
            </td>
            <td>
                <p>79%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Theft</p>
            </td>
            <td>
                <p>26%</p>
            </td>
        </tr>
    </table>
    <br>
    <div class="credit">
        <p>Criminal Victimization, 2012<br>US Department of Justice<br>Office of Justice Programs<br>Bureau of Justice Statistics<br>October 2013, NCJ 243389<br></p>
        <p>Chicago Police Department<br>Quarterly Domestic Violence Statistical Summary<br>Year to Date - December 2012</p>
    </div>
  </div>
  <div class="col-md-4">
    {{ read_file("content/victimization_rail.md")|markdown }}
  </div>
</div>
{% endblock content %}
